body {
  font-family:'Trebuchet MS', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 4, 53);
  margin: 0;
  height: 100vh;

}

html {
  scroll-behavior: smooth;
}

.menu-toggle {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    font-size: 3rem;
    cursor: pointer;
    z-index: 200;
}


a {
 color: white;
 text-decoration: none;
}

span {
  font-weight: bold;
  color: rgb(29, 4, 53);
}


h1 {
  color: rgb(0, 166, 255);
  text-shadow: 4px 2px 1px rgb(161, 52, 163);
  display: flex;
  justify-content: center;
   font-family: "Chewy", system-ui;
   font-size: 4.5rem;  

}

h2 {
  color: rgb(0, 166, 255);
  text-shadow: 4px 2px 1px rgb(161, 52, 163);
  display: flex;
  justify-content: center;
   font-family: "Chewy", system-ui;
   font-size: 4rem;
}

h3 {
  color: white;
  font-weight: 100;
  display: flex;
  justify-content: center;  
}


header {
  position: fixed;
  width: 100%;
  z-index: 100;
  }

nav {
  display: flex;
  justify-content: space-around;
  height: 80px;
  width: 100%;
  background-color:rgba(90, 0, 150, 0.24);
  color: white;
  backdrop-filter: blur(8px);
    
}


nav img {
  display: block; 
  height: 120px; 
  position: relative;
  top: 0;
  left: 2rem;

}

.menu ul {
  display: flex;
  gap: 15px;
  align-items: center;
  list-style: none;
  padding: 0;
 
}

.menu-principal {
  position: relative;
  top: 0;
  left: -11rem;
}

.menu-social {
  position: relative;
  top: 0;
  left: 7rem;
}


section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.container {
  display: flex;
  background-color: rgba(248, 146, 4, 0.019);
  flex-direction: column;
  border : 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.164);
  height: 280px;
  width: 280px;
  }

.container:hover {
  background-color:  rgb(70, 30, 120);
}

.container img {
  height: 180px;
  width: 180px;
  border-radius: 100%;
  margin-top: 2rem;
  border: 3px solid white;
  cursor: pointer;
}

.item {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  align-items: center;
}


.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(252, 249, 253);
  margin-top: 3rem;
}

.rules h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: rgb(161, 52, 163);
  text-shadow: 4px 2px 1px rgb(0, 166, 255);

}

.rules p {
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  margin: 0 21rem;
  text-align: center;
  margin-bottom: 2rem;
}

.modes {
  display: flex;
  justify-content: space-evenly;
}

section.modes > .container {
  display: flex;
  height: 315px;
  width: 260px;

}

.modes img {
  cursor:auto;
}

.modes h3 {
  margin-top: 4rem;
}

footer {
  background-color: white;
  height: 80px;
  text-align: center;
}

#timer {
  font-size: 24px;
  font-weight: bold;
  color: white; 
  text-align: center;
  margin-bottom: 20px;
}

#rejouer {
  display: block;
  margin: 10px auto;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}


.grille {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  gap: 10px;
  justify-content: center;
}

.carte {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
}

.carte .front,
.carte .back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.carte .front img,
.carte .back img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.carte .back {
  transform: rotateY(180deg);
}

.carte.flipped .front {
  transform: rotateY(180deg);
}

.carte.flipped .back {
  transform: rotateY(0deg);
}



@media screen and (max-width: 850px) {
  .grille {
    grid-template-columns: repeat(4, 100px);
    gap: 8px;
  }
  .carte {
    width: 80px;
    height: 80px;
  }

  section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
  }

  li {
    visibility: hidden;

}

.menu-toggle {
      display: flex;
    }

}

