body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 4, 53);
  margin: 0;
  height: 100vh;

}

a {
 color: white;
 text-decoration: none;
}


h1 {
  color: rgb(0, 166, 255);
  text-shadow: 4px 2px 1px rgb(161, 52, 163);
  display: flex;
  justify-content: center;
   font-family: "Chewy", system-ui;
   font-size: 4rem;

  
}

h3 {
  color: white;
  font-family:'Trebuchet MS', Arial, sans-serif;
  font-weight: 100;
  display: flex;
  justify-content: center;  
}

nav {
  display: flex;
  justify-content:space-between;
  align-items: center; 
  height: 80px;
  width: 100%;
  background-color:rgba(90, 0, 150, 0.24);
  color: white;
  
}

nav img {
  display: block; 
  height: 120px; 
  position: relative;
  top: 0;

}

ul {
  display: flex;
  gap: 10px;
  align-items: center;
  list-style: none;
  margin: 0; 
  padding: 0;
}

section {
  display: flex;
  justify-content: space-evenly;
}

.container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.034);
  flex-direction: column;
  border : 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.164);
  height: 280px;
  width: 280px;
  }

.container:hover {
  background-color:  rgb(70, 30, 120);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(108, 20, 102);
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: 1px 1px 3px;
  height: 30px;
  width: 80px;
  position: relative;
  left: 7rem;
  cursor: pointer;
}

.container img {
  height: 180px;
  width: 180px;
  border-radius: 100%;
  margin-top: 2rem;
  border: 3px solid white;
  cursor: pointer;
}

.item {
  display: flex;
  flex-direction: column;
  
  height: 300px;
  justify-content: center;
  align-items: center;
}





















.grille {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  gap: 10px;
  justify-content: center;
}

.carte {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
}

.carte .front,
.carte .back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.carte .front img,
.carte .back img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.carte .back {
  transform: rotateY(180deg);
}

.carte.flipped .front {
  transform: rotateY(180deg);
}

.carte.flipped .back {
  transform: rotateY(0deg);
}



@media screen and (max-width: 800px) {
  .grille {
    grid-template-columns: repeat(4, 100px);
    gap: 8px;
  }
  .carte {
    width: 80px;
    height: 80px;
  }

  section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
  }

  
}

