body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgb(70, 20, 108);
  margin: 0;
  height: 100vh;

}

a {
 color: white;
 text-decoration: none;
}


h1 {
  color: rgb(0, 166, 255);
  text-shadow: 4px 2px 1px rgb(161, 52, 163);
  display: flex;
  justify-content: center;
   font-family: "Chewy", system-ui;
   font-size: 4rem;

  
}

h3 {
  color: black;
  display: flex;
  justify-content: center;
  
}

nav {
  display: flex;
  justify-content:space-between;
  align-items: center; 
  height: 80px;
  width: 100%;
  background-color: #0000000d;
  color: white;
  
}

nav img {
  display: block; 
  height: 120px; 
  position: relative;
  top: 0;

}

ul {
  display: flex;
  gap: 10px;
  align-items: center;
  list-style: none;
  margin: 0; 
  padding: 0;
}

section {
  display: flex;
  justify-content: space-evenly;
}



.container {
  display: flex;
  background-color: white;
  flex-direction: column;
  border : 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  height: 410px;
  width: 300px;
  background-color: w;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(70, 20, 108);
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: 1px 1px 3px;
  height: 30px;
  width: 80px;
  position: relative;
  left: 7rem;
  cursor: pointer;
}

.container img {
  height: 295px;
  width: 295px;
  border-radius: 5px;
}

.item {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}



.grille {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  gap: 10px;
  justify-content: center;
}

.carte {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
}

.carte .front,
.carte .back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.carte .front img,
.carte .back img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.carte .back {
  transform: rotateY(180deg);
}

.carte.flipped .front {
  transform: rotateY(180deg);
}

.carte.flipped .back {
  transform: rotateY(0deg);
}



@media screen and (max-width: 800px) {
  .grille {
    grid-template-columns: repeat(4, 100px);
    gap: 8px;
  }
  .carte {
    width: 80px;
    height: 80px;
  }
}

