
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.container {
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px;
  transition: transform 0.2s;
}

.container:hover {
  transform: scale(1.05);
}

.container img {
  width: 80%;
  height: auto;
  border-radius: 150%;
}

.container h3 {
  margin-top: 10px;
  font-size: 1.1rem;
}


h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p {
    text-align: center;
}